<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input
            type="text"
            class="form-control"
            formControlName="tema"
            placeholder="Insira o Tema"
            [ngClass]="cssValidator(f.tema)"
          />
          <div
            class="invalid-feedback"
            *ngIf="f.tema.errors?.required && f.tema.touched"
          >
            Tema é obrigatório
          </div>
          <div
            class="invalid-feedback"
            *ngIf="f.tema.errors?.minlength && f.tema.touched"
          >
            Tamanho mínimo do tema é 4 caracteres
          </div>
          <div
            class="invalid-feedback"
            *ngIf="f.tema.errors?.maxlength && f.tema.touched"
          >
            Tamanho máximo do tema é 50 caracteres
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input
            type="text"
            class="form-control"
            formControlName="local"
            placeholder=""
            [ngClass]="cssValidator(f.local)"
          />
          <div
            class="invalid-feedback"
            *ngIf="f.local.errors?.required && f.local.touched"
          >
            Local é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input
            type="datetime"
            class="form-control"
            formControlName="dataEvento"
            value=" {{ evento.dataEvento | DateFormatPipe }}"
            placeholder=""
            [ngClass]="cssValidator(f.dataEvento)"
            bsDatepicker
            [bsConfig]="bsConfig"
          />
          <div
            class="invalid-feedback"
            *ngIf="f.dataEvento.errors?.required && f.dataEvento.touched"
          >
            Data e hora é obrigatório
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Qtd Pessoas</label>
          <input
            type="number"
            class="form-control"
            formControlName="qtdPessoas"
            placeholder=""
            [ngClass]="cssValidator(f.qtdPessoas)"
          />
          <div
            class="invalid-feedback"
            *ngIf="f.qtdPessoas.errors?.required && f.qtdPessoas.touched"
          >
            Quantidade de pessoas é obrigatório
          </div>
          <div
            class="invalid-feedback"
            *ngIf="f.qtdPessoas.errors?.min && f.qtdPessoas.touched"
          >
            Quantidade mínima de pessoas é 1
          </div>
          <div
            class="invalid-feedback"
            *ngIf="f.qtdPessoas.errors?.max && f.qtdPessoas.touched"
          >
            Quantidade máxima de pessoas é 120.000
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input
            type="text"
            class="form-control"
            formControlName="telefone"
            placeholder="(00) 90000-0000"
            [ngClass]="cssValidator(f.telefone)"
          />
          <div
            class="invalid-feedback"
            *ngIf="f.telefone.errors?.required && f.telefone.touched"
          >
            Telefone é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Email</label>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="e-mail"
            [ngClass]="cssValidator(f.email)"
          />
          <div
            class="invalid-feedback"
            *ngIf="f.email.errors?.required && f.email.touched"
          >
            E-mail é obrigatório
          </div>
          <div
            class="invalid-feedback"
            *ngIf="f.email.errors?.email && f.email.touched"
          >
            Formato do e-mail é inválido
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>URL Imagem</label>
          <input
            type="text"
            class="form-control"
            formControlName="imageUrl"
            placeholder="imagem"
            [ngClass]="cssValidator(f.imageUrl)"
          />
          <div
            class="invalid-feedback"
            *ngIf="f.imageUrl.errors?.required && f.imageUrl.touched"
          >
            URL da imagem é obrigatório
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button
          class="btn btn-outline-secondary mr-auto border"
          (click)="resetForm()"
        >
          Cancelar Alteração
        </button>
        <button
          class="btn btn-success"
          [disabled]="!form.valid"
          (click)="salvar()"
        >
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>

<div class="card rounded shadow-sm mt-4" *ngIf="modoEditar">
  <div class="p-3">
    <div class="d-flex border-bottom">
      <h2 class="mr-auto">Lotes do Evento</h2>
      <h2>
        <i class="fas fa-money-bill-wave"></i>
      </h2>
    </div>
    <p>Clique em Lote para adicionar e preencher novos Lotes</p>
    <div class="form-row p-1">
      <div class="col" [formGroup]="form">
        <div
          formArrayName="lotes"
          *ngFor="let lote of lotes.controls; let i = index"
        >
          <fieldset [formGroupName]="i" class="form-group">
            <legend class="d-flex justify-content-between">
              {{ retornaNomeLote(lotes.get(i+'.nome').value)}}
              <button
                class="p-2 btn btn-sm btn-outline-warning mb-1 d-flex"
                tooltip="Excluir Lote"
                [adaptivePosition]="false"
                [delay]="500"
                placement="left"
                (click)="removerLote($event, templateLote, i)"
              >
                <i class="fa fa-window-close my-1"></i>
                <b class="ml-1 d-none d-sm-block">Excluir</b>
              </button>
            </legend>
            <div class="row">
              <div class="form-group col-md-4">
                <label>Nome</label>
                <input
                  [ngClass]="cssValidator(lotes.get(i + '.nome'))"
                  type="text"
                  class="form-control"
                  formControlName="nome"
                  placeholder="Lote"
                />
              </div>
              <div class="form-group col-md-4">
                <label>Quantidade</label>
                <input
                  [ngClass]="cssValidator(lotes.get(i + '.quantidade'))"
                  type="text"
                  class="form-control"
                  formControlName="quantidade"
                  placeholder="000"
                />
              </div>
              <div class="form-group col-md-4">
                <label>Preço</label>
                <input
                  [ngClass]="cssValidator(lotes.get(i + '.preco'))"
                  type="text"
                  currencyMask
                  class="form-control"
                  currencyMask
                  formControlName="preco"
                  placeholder="R$ 0,00"

                />
              </div>
              <div class="form-group col-md-4">
                <label>Data Início</label>
                <input
                  [ngClass]="cssValidator(lotes.get(i + '.dataInicio'))"
                  type="datetime"
                  class="form-control"
                  value="{{
                    lotes.get(i + '.dataInicio').value | date : 'dd/MM/yyyy'
                  }}"
                  placeholder="01/01/2019"
                  bsDatepicker
                  (bsValueChange)="mudarValorData($event, i, 'dataInicio')"
                />
              </div>
              <div class="form-group col-md-4">
                <label>Data Fim</label>
                <input
                  [ngClass]="cssValidator(lotes.get(i + '.dataFim'))"
                  type="datetime"
                  class="form-control"
                  value="{{
                    lotes.get(i + '.dataFim').value | date : 'dd/MM/yyyy'
                  }}"
                  placeholder="01/01/2019"
                  bsDatepicker
                  (bsValueChange)="mudarValorData($event, i, 'dataFim')"
                />
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <button (click)="adicionarLote()" class="d-flex btn btn-outline-primary">
      <i class="fa fa-plus-circle my-1"></i>
      <b class="ml-1">Lote</b>
    </button>
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <button class="btn btn-outline-secondary mr-auto border">
        Cancelar Alteração
      </button>
      <button class="btn btn-success" [disabled]="!form.controls.lotes.valid" (click)="salvarLotes()" [disabled]="">
        Salvar Lotes
      </button>
    </div>
  </div>
</div>
<br />

<ng-template #templateLote>
  <div class="modal-body text-center">
    <p>
      Deseja remover o <b>{{ loteAtual.nome }}</b
      >?
    </p>
    <button type="button" class="btn btn-default" (click)="confirm()">
      Sim
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      Não
    </button>
  </div>
</ng-template>
