<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

		<!--FORM VAI AQUI-->
    <form class="p-1" [formGroup]="form">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input type="text" class="form-control" formControlName="primeiroNome" placeholder="Insira o Primeiro nome"
          [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched}"/>
          <div class="invalid-feedback" *ngIf="f.primeiroNome.errors?.required && f.primeiroNome.touched">
            primeiro nome é obrigatório
          </div>

        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input type="text" class="form-control" formControlName="ultimoNome" placeholder="Insira o Último nome"
          [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched}"/>
          <div class="invalid-feedback" *ngIf="f.ultimoNome.errors?.required && f.ultimoNome.touched">
            ultimo nome é obrigatório
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" type="text" formControlName="email" placeholder="Insira o Nome Completo"
        [ngClass]="{'is-invalid': f.email.errors && f.email.touched}"/>
        <div class="invalid-feedback" *ngIf="f.email.errors?.required && f.email.touched">
            endereço de e-mail é obrigatório
        </div>
        <div class="invalid-feedback" *ngIf="f.email.errors?.email && f.email.touched">
          endereço de e-mail é invalido
      </div>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input class="form-control" type="text" formControlName="username" placeholder="Insira o nome de Usuário"
        [ngClass]="{'is-invalid': f.username.errors && f.username.touched}"/>
        <div class="invalid-feedback" *ngIf="f.username.errors?.required && f.username.touched">
            usuario é obrigatório
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control" type="password" formControlName="password" placeholder="Digite uma Senha"
          [ngClass]="{'is-invalid': f.password.errors && f.password.touched}"/>
          <div class="invalid-feedback" *ngIf="f.password.errors?.required && f.password.touched">
            senha é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="f.password.errors?.minlength && f.password.touched">
            a senha deve ter no mínimo 6 caracteres
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control" type="password" formControlName="passwordConfirmacao" placeholder="Confirme a Senha"
          [ngClass]="{'is-invalid': f.passwordConfirmacao.errors && f.passwordConfirmacao.touched}"/>
          <div class="invalid-feedback" *ngIf="f.passwordConfirmacao.errors?.required && f.passwordConfirmacao.touched">
            confirmação de senha é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="f.passwordConfirmacao.errors?.mustMatch && f.passwordConfirmacao.touched">
            as senhas não conferem
          </div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5" [disabled]="!form.valid" (click)="registrar()">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>

	</div>
</div>
