<app-titulo
  [tituloPrincipal]="'Perfil'"
  [subtitulo]="'Gestão de perfis'"
  [iconClass]="'fa fa-user-alt'"
  [exibeBotao]="false"
>
</app-titulo>

<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="row p-3">
      <div class="col-lg-3 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>
          <div class="d-flex align-self-center pt-3">
            <a>
              <img
                src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                name="aboutme"
                width="120"
                height="120"
                class="rounded-circle"
              />
            </a>
          </div>
          <div class="card-body">
            <div class="h4 text-center mb-3">@UserName</div>
            <div class="h7 text-bold pb-1"><b>Nome:</b> Miracles Lee Cross</div>
            <div class="h7">
              Developer of web applications, JavaScript, PHP, Java, Python,
              Ruby, Java, Node.js, etc.
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos Ministrados</div>
                </div>
                <div class="col-6 text-center">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos Participados</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="form-row">
          <div class="form-group col-12">
            <h3 class="border-bottom">Detalhe Perfil</h3>
          </div>
          <div class="form-group col">
            <label>Título</label>
            <select class="form-control" formControlName="titulo"
              [ngClass]="{'is-invalid': f.titulo.errors && f.titulo.touched}">
              <option value=""></option>
              <option value="0">Não Quero</option>
              <option value="Senhorita">Tecnólogo(a)</option>
              <option value="Senhorita">Bacharel</option>
              <option value="Senhorita">Especialista</option>
              <option value="Senhorita">Pós Graduado(a)</option>
              <option value="Senhorita">Mestre</option>
              <option value="Senhorita">Doutor(a)</option>
              <option value="Senhorita">Pós Doc</option>
            </select>
            <div class="invalid-feedback" *ngIf="f.titulo.errors?.required && f.titulo.touched">
              titulo é obrigatório.
            </div>
          </div>
          <div class="form-group col-sm-5">
            <label>Primeiro Nome</label>
            <input type="text" class="form-control" formControlName="primeiroNome" [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched}"/>
            <div class="invalid-feedback" *ngIf="f.primeiroNome.errors?.required && f.primeiroNome.touched">
              primeiro nome é obrigatório.
            </div>
          </div>
          <div class="form-group col-sm-5">
            <label>Último nome</label>
            <input type="text" class="form-control" formControlName="ultimoNome" [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched}"/>
            <div class="invalid-feedback" *ngIf="f.ultimoNome.errors?.required && f.ultimoNome.touched">
              ultimo nome é obrigatório.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-5">
            <label>E-mail</label>
            <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid': f.email.errors && f.email.touched}"/>
            <div class="invalid-feedback" *ngIf="f.email.errors?.required && f.email.touched">
              email é obrigatório.
            </div>
            <div class="invalid-feedback" *ngIf="f.email.errors?.email && f.email.touched">
              email é inválido.
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label>Telefone</label>
            <input type="text" class="form-control" formControlName="telefone" [ngClass]="{'is-invalid': f.telefone.errors && f.telefone.touched}"/>
            <div class="invalid-feedback" *ngIf="f.telefone.errors?.required && f.telefone.touched">
              telefone é obrigatório.
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Função</label>
            <select class="form-control" formControlName="funcao" [ngClass]="{'is-invalid': f.funcao.errors && f.funcao.touched}">
              <option value=""></option>
              <option value="Participante">Participante</option>
              <option value="Palestrante">Palestrante</option>
            </select>
            <div class="invalid-feedback" *ngIf="f.funcao.errors?.required && f.funcao.touched">
              função é obrigatório.
            </div>
          </div>
          <form-group class="col-12">
            <label>Descrição</label>
            <input type="text" class="form-control" formControlName="descricao" [ngClass]="{'is-invalid': f.descricao.errors && f.descricao.touched}"/>
            <div class="invalid-feedback" *ngIf="f.descricao.errors?.required && f.descricao.touched">
              descrição é obrigatória.
            </div>
          </form-group>
        </div>
        <div>
          <h3 class="pt-3 border-bottom">Mudar Senha</h3>
          <p>Caso mude de senha, preencha os campos abaixo:</p>
        </div>
        <div class="form-row">
          <div class="form-group col-sm">
            <label>Senha</label>
            <input type="password" class="form-control" formControlName="senha" [ngClass]="{'is-invalid': f.senha.errors && f.senha.touched}"/>
            <div class="invalid-feedback" *ngIf="f.senha.errors?.required && f.senha.touched">
              senha é obrigatória.
            </div>
            <div class="invalid-feedback" *ngIf="f.senha.errors?.minlength && f.senha.touched">
              senha deve conter no mínimo 6 caracteres.
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Confirmar Senha</label>
            <input type="password" class="form-control" formControlName="confirmeSenha" [ngClass]="{'is-invalid': f.confirmeSenha.errors && f.confirmeSenha.touched}"/>
            <div class="invalid-feedback" *ngIf="f.confirmeSenha.errors?.required && f.confirmeSenha.touched">
              confirmar senha é obrigatória.
            </div>
            <div class="invalid-feedback" *ngIf="f.confirmeSenha.errors?.mustMatch && f.confirmeSenha.touched">
              confirmar senha deve ser igual a senha.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm($event)">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Alteração
        </button>
      </div>
    </div>
  </form>
</div>
